config.yaml
io_config.yaml

# exclude data directory
data/

*.csv
*.gpkg
*.kml
*.tif
*.aux.xml
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.pkl
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/wp4.iml
